<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite1" verbose="1" >
    <test name="testing">
        <classes>
            <class name="AmazonPOM"></class>
        </classes>
        <!--<packages>-->
        <!--<package name="firstTestPackage" />-->
        <!--<package name="secondTestPackage" />-->
        <!--</packages>-->
    </test>
</suite>